
{{> book_leave_modal
  container_id='book_leave_modal'
  leave_modal_form_action='/calendar/bookleave/'
}}

<footer class="footer custom-footer">
  <p>
    <span class="pull-left">© <a href="http://courses.cmcdistedu.org/">Distance Education</a> 2018</span>
    <span class="pull-right">
      <!--<a href="https://github.com/timeoff-management/application"><i class="fa fa-github fa-lg"></i></a>-->
      <a href="https://www.facebook.com/cmcdistedu/"><i class="fa fa-facebook fa-lg"></i></a>
      <a href="mailto:dedu@cmcdistedu.org"><i class="fa fa-envelope fa-lg"></i></a>
    </span>
  </p>
</footer>
